
<section class="bg-my-gray">
     <div class="title-box text-center py-5">
		<h2>Check Our Stylospin Procucts</h2>
	</div>
 <section class="container">
		<section class="row">
			<div class="col-md-6 my-2 " *ngFor="let item of char">
				<section class="row border border-radius-own m-1 bg-white">
					 <div class="col-md-5 p-0 img-back border-radius-left">
					 	<img [src]="item.url" alt="Main Product Image" class="img-thumbnail" id="my-img">
					 </div>
					 <div class="col-md-7 p-3 bg-white border-radius-right">
					 	<h3 class="py-4">Sed ut perspiciatis unde omnis</h3>
					 	<p class="text-justify">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
					 		<div>
					 			<b>Price: </b> <b><i class="fa fa-inr" aria-hidden="true"></i> 200.00</b>
					 		</div>
                        	<div class="text-end">
                                <button class="btn btn-success btn-radius btn-sm px-3">Buy Now</button>
                            </div>
					 </div>
				</section>
			</div>
        </section>
    </section>
</section>
 
 